.search-ride  {
    display:  flex;
    justify-content: center;
    align-items: center;
    background:url(/CSS/images/search-section-background.jpg) no-repeat;
    background-size: cover;
    background-position-y: 80%;
   width: 100%;
   height: 600px;

}


.section-container {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80%;
}

h1 {
    color: white;
    font-size: 2rem;
}

#form-div label {
    display: none;
}

iframe {
    border-radius: 10px;
}