@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap');*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav_bar li,.nav_bar a,.nav_bar button{
    background-color: #0a253b;
    font-family: 'Pooppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}
header{
    background-color: #0a253b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
}
.close img,.close a{
    cursor: pointer;
    height: 50px;
    border: none;
    padding-right: 20px;

}

.logo{
    margin-right: auto;
    cursor: pointer;
    height: 50px;
    padding-left: 20px ;

}
.nav_list{
    list-style: none;

}
.nav_list li{
    display: inline;
    padding: 0 20px ;
}
.nav_list li a{
    transition: all 0.3s ease 0s  ;
    color: #edf0f1;
}
.nav_list li a:hover{
    color: #3d5a80;
}
/*.nav_bar button{*/
/*    margin-left: 20px;*/
/*    font-weight: 600;*/
/*    font-size: 20px;*/
/*    padding: 10px 20px;*/
/*    background-color: #de3450;*/
/*    color: #0a253b;*/
/*    border: none;*/
/*    border-radius: 20px;*/
/*    cursor: pointer;*/
/*    transition: all 0.3s ease 0s;*/
/*!*}*!*/
/*.nav_bar button:hover{*/
/*    background-color: rgba(222, 52, 80, 0.8);*/
/*}*/
.nav_buttons a{
    font-weight: 600;
    background: #de3450;
    color: #0a253b;
}
.nav_buttons{
    position: relative;
    box-sizing: border-box;
    background: #de3450;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}
.nav_buttons::after,.nav_buttons::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #de3450;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
.nav_buttons:hover{
    transform: translate(-4px,-4px);
}
.nav_buttons:hover::after{
    transform: translate(4px, 4px);
}
.nav_buttons:hover::before{
    transform: translate(8px, 8px);
}
.hr_1 hr{
    height: 5px;
    background-color: #0d2c44;
    border: #092336;
    border: none;
}

/*!Login Page!*/

.login_page{
    display: block;
    border-radius: 4px;
    /*box-shadow: inset 0 0 15px 4px rgba(0,0,0,.06),0 0 15px 4px rgba(0,0,0,.06);*/
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
}
.login_a{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    border: 1px solid #cfdae3;
    border-radius: 16px;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 48px;
    position: sticky;
    text-align: left;
    top: 0;
    width: 100%;
}
.login_a {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 40px;
}
.form{
    padding-top: 30px;
    font-weight: 400;
    font-size: 15px;
}
.form input{
    border: 2px solid #cfdae3;
    border-radius: 5px;
    font-size: 17px;
    font-family: inherit;


}
.form label{
    font-weight: 600;
    font-size: 17px;

}
.pass{
    padding: 4px 0;

}
.sign_in{
    /*flex-direction:row;*/
    display:flex;
    align-items: flex-end;
    justify-content:space-between;
    box-sizing: border-box;
    padding: 4px 0;
}
.sign_in a{
    text-decoration: none;
    color:#de3450;
    font-weight: bold;
    transition: transform ease 0.3s;
    padding-left: 5px;
}
.sign_in a:hover{
    color: #c70b20;
}

.form input{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin-bottom: 40px;
}
.login_button{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    background-color: #de3450;
    color: #0a253b;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.login_button:hover{
    transform: scale(110%);
}

.forgor{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 3%;
    padding-top:7%;
    color: #0a253b;
    font-weight: bold;
    font-size: 15px;
    transition: transform ease 0.3s;
}
.forgor:hover{
    color: #de3450;
}
.footer{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    display: flex;
    margin-top: auto;
    text-decoration: none;
    justify-content: center;
    position: sticky;
    top: 100%;
    width: 100%;
    height: 2.5rem;
    /*opacity: 0.6;*/
    z-index: -1;
    color: rgba(0, 0, 0, 0.6);
}
.footer a{
    color: rgba(0, 0, 0, 0.6);
;
}
body{
    position: relative;
    min-height: 100vh;
}




