@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,600&display=swap');

:root {
    --primary: #0a253b;
    --secondary: #de3450;
}

*{
    /* this is a test */
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav_bar li,.nav_bar a,.nav_bar button{
    background-color: #0a253b;
    font-family: 'Pooppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;

}
header{
    background-color: #0a253b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
}
.close img,.close a{
    cursor: pointer;
    height: 50px;
    border: none;
    padding-right: 20px;

}

.logo{
    margin-right: auto;
    cursor: pointer;
    height: 50px;
    padding-left: 20px ;

}
.nav_list{
    list-style: none;

}
.nav_list li{
    display: inline;
    padding: 0 20px ;
}
.nav_list li a{
    transition: all 0.3s ease 0s  ;
    color: #edf0f1;
}
.nav_list li a:hover{
    color: #3d5a80;
}
/*.nav_bar button{*/
/*    margin-left: 20px;*/
/*    font-weight: 600;*/
/*    font-size: 20px;*/
/*    padding: 10px 20px;*/
/*    background-color: #de3450;*/
/*    color: #0a253b;*/
/*    border: none;*/
/*    border-radius: 20px;*/
/*    cursor: pointer;*/
/*    transition: all 0.3s ease 0s;*/
/*!*}*!*/
/*.nav_bar button:hover{*/
/*    background-color: rgba(222, 52, 80, 0.8);*/
/*}*/
.nav_buttons a{
    font-weight: 600;
    background: #de3450;
    color: #0a253b;
}
.nav_buttons{
    position: relative;
    box-sizing: border-box;
    background: #de3450;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}
.nav_buttons::after,.nav_buttons::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #de3450;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
.nav_buttons:hover{
    transform: translate(-4px,-4px);
}
.nav_buttons:hover::after{
    transform: translate(4px, 4px);
}
.nav_buttons:hover::before{
    transform: translate(8px, 8px);
}
.hr_1 hr{
    height: 5px;
    background-color: #0d2c44;
    border: #092336;
    border: none;
}

/*!Login Page!*/
.login_page{
    display: flex;
    border-radius: 4px;
    /*box-shadow: inset 0 0 15px 4px rgba(0,0,0,.06),0 0 15px 4px rgba(0,0,0,.06);*/
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    z-index: 1;
}



.login_a{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    border: 1px solid #cfdae3;
    border-radius: 16px;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 48px;
    position: sticky;
    text-align: left;
    top: 0;
    width: 100%;
}
.login_a {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 40px;
}
.form{
    padding-top: 30px;
    font-weight: 400;
    font-size: 15px;
}
.form input{
    border: 2px solid #cfdae3;
    border-radius: 5px;
    font-size: 17px;
    font-family: inherit;


}
.form label{
    font-weight: 600;
    font-size: 17px;

}
.pass{
    padding: 4px 0;

}
.sign_in{
    /*flex-direction:row;*/
    display:flex;
    align-items: flex-end;
    justify-content:space-between;
    box-sizing: border-box;
    padding: 4px 0;
}
.sign_in a{
    text-decoration: none;
    color:#de3450;
    font-weight: bold;
    transition: transform ease 0.3s;
    padding-left: 5px;
}
.sign_in a:hover{
    color: #c70b20;
}

.form input{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin-bottom: 40px;
}
.login_button{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    background-color: #de3450;
    color: #0a253b;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.login_button:hover{
    transform: scale(110%);
}

.forgor{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 3%;
    padding-top:7%;
    color: #0a253b;
    font-weight: bold;
    font-size: 15px;
    transition: transform ease 0.3s;
}
.forgor:hover{
    color: #de3450;
}
.footer{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    display: flex;
    margin-top: auto;
    text-decoration: auto;
    justify-content: center;
    position: sticky;
    top: 100%;
    width: 100%;
    height: 2.5rem;
    /*opacity: 0.6;*/
    /*z-index: -1;*/
    color: rgba(0, 0, 0, 0.6);
}
.footer a{
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
body{
    position: relative;
    min-height: 100vh;
}
.emaiLabel{
    color: #c70b20;
}
.name{
    padding-top: -10px;
    color: #c70b20;
}
.top_form{
    display: flex;
    box-sizing: border-box;
    width: 100%;
}
.fname{
    margin-right: 33%;
    padding: initial;
    color:#000000 ;
}
.form_b input{
    margin-bottom: 27px;
}
.forgor_b{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 3%;
    padding-top:7%;
    color: #0a253b;
    font-weight: bold;
    font-size: 15px;
}
.spass{
    color: #c70b20;
}
.forgor_b a{
    padding-left:5px;
    transition: transform ease 0.3s;
    text-decoration: none;
    color:#de3450;
}
.forgor_b a:hover{
    color: #c70b20;
}
.terms{
    font-family: "Source Sans Pro" ,sans-serif;
    margin-left: 20%;
    margin-top: 8%;
}
.download_link{
    margin: auto;
}
.download_link a{
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: 400;
    font-style:oblique;
}
.Last-mod{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
.terms h1{
    font-size: 50px;
}
.terms h3{
    /*padding-top: 5%;*/
    padding-bottom: 2%;
    font-size: 30px;
    font-weight: 500;
}
.terms hr{
    margin-top: 3%;
    margin-bottom:1%;
    width: 3%;
    opacity: 0.4;
}
.terms p{
    width: 70%;
}
.terms_body h2{
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 30px;
}
.terms_body p{
    margin-left: 1%;
}
.terms_body2 p{
    margin-top: 1%;
    margin-left: 5%;
}
.tk h5{
    font-size: 20px;
    opacity: 30%;
    margin-bottom: 2%;
    margin-left: 30%;
}
.driver_header{
    display: flex;
    height: 400px;
    background-image: url("images/back3.png");
    background-repeat: no-repeat;
    /*background-size:cover;*/
    background-size:cover;
    background-position-y: -100px ;
    align-items: center;
    z-index: -1;
    margin-bottom: -50px;
}
.driver_header_input{
    /*margin-left:20% ;*/
    /*align-items: flex-end;*/
    /*flex-direction: column;*/


}
.driver_header form{
    display: flex;
}


.trips_header{
    background-color: #0f3556;
    position: relative;
    display: flex;
    width: 70%;
    margin:auto;
    box-sizing: border-box;
    /*justify-content: center;*/
    /*border: 1px solid;*/
    /*border-color: ;*/
    flex-direction: column;
    border-radius: 5px;
    border: none;
}
@media (max-width: 900px){
    .trips_header{
        width: 100% ;
    }
}
.selector{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #0a253b;
    position: relative;
    margin: auto;

}
.driver_header_input input{
    padding: 10% 20%;
}

@media (max-width: 1210px){
    .driver_header{
        background-size: 1210px;
    }
}
.trips_body{
    margin-left: 5% ;
    margin-top: 3%;
    margin-bottom:3% ;
    /*background-color: white;*/
    display: flex;
    width: 80%;
    flex-direction: row;
    border-radius: 10px;
}
.trips_body2{
    margin-left: 5% ;
    margin-top: 3%;
    margin-bottom:3% ;
    /*background-color: white;*/
    display: flex;
    width: 80%;
    flex-direction: row;
    border-radius: 10px;
}
.start{
    background-color: white;
    width: 90%;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right:20px ;
    border-radius: 4px;
    /*border: 1px solid #5b1111;*/
    /*border-radius: 7px;*/
    border: none;
}
.stars{
    background-color: #0f3556;
}
.stars img{
    /*opacity: 0;*/
}
.start2{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -1px;
}
.start input{
    font-family: "Source Sans Pro" ,sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 80%;
    border-style: none;
    border-radius: 10px;
}
.start img{
    margin-top: 17px;
    margin-right: 10px ;
    margin-left: 10px;
    height: 20px;
    width: 20px;
}
.finish{
    padding-left: -10%;
    margin-left: -4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.finish img{
    margin-right: 12px;
}
.trips_body hr{
    border-style: solid;
    margin-top: 17px;
    margin-left: -3%;
    height: 25px;
    background-color: white;
    z-index: 1;
}
.date{
    margin-left: 0px;
    width: 60%;
}
.date img{
    margin-top: 21px;
    margin-right: 5px;
    margin-left: 15px;
}
.trips_body button{
    font-family: 'Source Sans Pro', sans-serif;
    /*box-sizing: border-box;*/
    /*width: %;*/
    padding: 10px 34px;
    background-color: #de3450;
    color: #0d2c44;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: -13%;
    transition: transform 0.3s ease;

}

.trips_body button:hover{
    transform: scale(110%);
}
.search{
    margin-top: 5px;
    height: 32px;
    width: 32px;
}
.options {
    display: flex;
    flex-direction: row;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 20px;


}
/*.options a{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    font-family: 'Source Sans Pro', sans-serif;*/
/*    font-size: 20px;*/
/*    justify-content: flex-start;*/
/*    margin-top: 10px;*/

/*}*/
.selector a{
    /*border-style: solid;*/
    margin-top: 20px;
    z-index: 1;
    transition: color 0.3s linear;
    font-weight: bold;
    font-style:normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.68);
    margin-left: 10px ;
    margin-right: 10px;

    /*margin-top: 10px;*/
}
.selector a:hover{
    /*transition: 0.5s  ;*/
    color: white;
}

.selector span {
    position: relative;
    display: inline-list-item;
    cursor: pointer;
    padding-top: -10px;

}
.options1{
    margin-top: -15px;
    display: flex;
    align-items: flex-end;
    /*margin-top: ;*/
}
.selector img{
    height: 20px;
    margin-right: 10px;
}

.selector span:before, .selector span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 100%;
    margin-top: -0.5px;
    background: #fff;
}

.selector span:before {
    left: -2.5px;
}
.selector span:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.selector span:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.selector span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}
